<%= render 'form' %>

<br/>

<% if @response %>
    <% @response.each do |item| %>
      <div class="card" style="width: 36rem;">
        <div class="card-body">
          <h5 class="card-title">Formatted Address</h5>
          <hr>
          <div class="col-sm-12">
            <%= item['formatted_address'] %>
          </div>
        </div>

      </div>
    <% end %>
 <% end %>

<br/>

<div class= "container text-center">

    <div class="btn-group">
    <%= link_to 'Back to HomePage', '/', :class => "btn btn-primary" %>
    </div>
    
</div>
