<div class="form-box col-md-12">

  <%= form_for(User.new, url: add_users_path, method: :post) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>