<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="col-md-12">
        <h4 class="float-left">Why GlobalPost?</h4>
    </li>
  </ol>
</nav>

<br>

<div class="jumbotron">
<p>What are the advantages of GlobalPost?</p>

<ul>

<li>GlobalPost will help you to track your parcel online</li>

<li>Our network provides updates at each point of shipment</li>

<li>The updates are on real-time</li>

</ul>

</div>
