<div class="jumbotron">
  <h1 class="display-4">Welcome to GLOBALPOST</h1>
  <p class="lead">Our service designed for parcel delivery and tracking.</p>
  <hr class="my-4">
  <p>A new approach to microservices</p>
  <a class="btn btn-primary btn-lg" href="/welcome/faq" role="button">Learn more</a>
</div>